* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif; /* Define como padrão para tudo */
}

html, body {
  margin: 0;
  padding: 0;
  height: auto;
  overflow-y: auto;
}